.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
  text-align: left;
}

.feat-item {
  text-decoration: none;
  color: var(--ifm-navbar-link-color);

  color: inherit;
  &:hover {
    text-decoration: none;
  }
}

.feat-icon {
  text-align: center;
  img {
    max-height: 160px;
    max-width: 160px;
    user-select: none;
  }
}
